<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!-- Guarantee ID Column -->
      <ng-container matColumnDef="guaranteeid">
        <th mat-header-cell *matHeaderCellDef> Guarantee ID </th>
        <td mat-cell *matCellDef="let element"> {{element.guaranteeid}} </td>
      </ng-container>
  
      <!-- Loan ID Column -->
      <ng-container matColumnDef="loanid">
        <th mat-header-cell *matHeaderCellDef> Loan ID </th>
        <td mat-cell *matCellDef="let element"> {{element.loanid}} </td>
      </ng-container>
  
      <!-- Guarantee Type Column -->
      <ng-container matColumnDef="guaranteetype">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.guaranteetype}} </td>
      </ng-container>
  
      <!-- Estimated Value Column -->
      <ng-container matColumnDef="estimatedvalue">
        <th mat-header-cell *matHeaderCellDef> Estimated Value </th>
        <td mat-cell *matCellDef="let element"> {{element.estimatedvalue}} </td>
      </ng-container>
  
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>