<div class="container">
  <div class="form-container">
    <h1 class="form-title">
      <mat-icon>swap_horiz</mat-icon>
      Add Transaction
    </h1>
    <form [formGroup]="transactionForm" (ngSubmit)="addTransaction()">
      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Identification</mat-label>
          <mat-select id="loanId" formControlName="loanid" required>
            <mat-option *ngFor="let loan of loans" [value]="loan.loanid">
              {{loan.client_firstname}} {{loan.client_lastname}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Transaction Type</mat-label>
          <mat-select id="transactiontype" formControlName="transactiontype" required>
            <mat-option value="payment">Payment</mat-option>
            <mat-option value="loan">Loan</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group" *ngIf="transactionForm.get('transactiontype')?.value !== 'loan'">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Amount</mat-label>
          <input matInput type="number" id="amount" formControlName="amount" required>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!transactionForm.valid">Submit</button>
    </form>
  </div>
</div>