<mat-grid-list cols="4" rowHeight="360px">
  <mat-grid-tile colspan="4" rowspan="1" class="custom-background-blue" [style.margin-bottom.px]="20">
    <div class="welcome-container">
      <h3 class="welcome-title">Bank Loan Management System </h3>
      <p class="welcome-text">Efficient and effective management of bank loans. Streamline the loan process for banks and customers.</p>
    </div>
  </mat-grid-tile> <!-- Ajout de margin-left et margin-right -->
  <mat-grid-tile colspan="2" rowspan="1" class="custom-background-two" [style.margin-top.px]="10" >

  </mat-grid-tile> <!-- Ajout de margin-bottom -->
  <mat-grid-tile colspan="2" rowspan="1" class="custom-background-third" [style.margin-top.px]="10" ></mat-grid-tile> <!-- Ajout de margin-bottom -->
</mat-grid-list>